<h1>Remote-Link für:<%= @reservation.event.event_name %></h1>

<p>
  Der Remote-Link (Zoom-Link) für <%= @reservation.event.event_name %></h1> ist:
  <br>
  <br>
  <a href='<%= @reservation.remote_link %>'><%= @reservation.remote_link %></a>
</p>
