<h1 class="sub-title is-size-4">
  Edit Event: <strong><%= reservation_view.event_name %></strong>
</h1>

<h2 class="sub-title is-size-6">
  Place: <strong><%= reservation_view.space_name %></strong><br>
  From: <strong><%= reservation_view.date_range_string %></strong>
</h2>