<div class="field is-horizontal">
  <div class="field-label is-normal">Video Link</div>
  <div class="field-body">
    <div class="field has-addons">
      <div class="control has-icons-left">
        <%= form.text_area :remote_link,
                            rows: 2,
                            value: reservation.remote_link,
                            placeholder: "Video (Zoom) Link",
                            class: "textarea is-large" %>
        <span class="icon is-small is-left">
          <i class="fas fa-video"></i>
        </span>
        <p class="help">Optional</p>
        <%= error_message_on(form.object, :remote_link) %>
      </div>
    </div>
  </div>
</div>
