<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='manager-new-repeat-booking' class='pageName'>Manager New Repeat Booking</p>

<h1 class="sub-title is-size-4">New Repeat Booking</h1>
<br>
<%= form_for( repeat_booking, local: true,
              url: managers_repeat_bookings_path,  # MUST BE PLURAL
              id: "new-reservation-form", class: "reservation" ) do |form|  %>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-full">

      <div class="tile">
        <div class="tile is-parent is-vertical">
        <%= render 'form',  form: form,
                            events: events, spaces: spaces,
                            repeat_booking: repeat_booking %>
        </div>
      </div>

      <!-- load button on the form-defintion level to prevent caching problems -->
      <div class="tile">
        <div class="tile is-parent is-vertical">
        <%= render 'actions_new', form: form, repeat_booking: repeat_booking %>
        </div>
      </div>

    </div>
  </div>

<% end %>
