<h1>Hi <%= @participant.display_name %>,</h1>

<p><a href="<%= @magic_link_url %>">Access-Link für Bern Umdze</a></p>

<p> <%= @magic_link_url %> </p>

<p>Link ist gültig bis: <%= @participant.token_valid_until %></p>
