<div class="card">
  <div class="card-image">
    <figure class="image is-100x100">
    <!-- https://blog.saeloun.com/2019/10/30/rails-6-removes-action-view-helper-image_alt.html -->
      <%= image_pack_tag 'Shambhala_Sun.jpg', alt: "Shambhala Sun Logo" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
        <p class="title is-4">Shambhala Meditations-Zentrum Bern</p>
        <p class="subtitle is-6">Anlässe und Kurse</p>
      </div>
    </div>
    <div class="content">
      <!-- Where minds meet reality -->
    </div>
  </div>
  <!--
  <footer class="card-footer">
    <%# link_to 'Umdze Kalendar', home_path, class: "card-footer-item" %>
  </footer>
  -->
</div>
