<div class="card">
  <div class="card-image">
    <figure class="image is-100x100">
    <!-- https://blog.saeloun.com/2019/10/30/rails-6-removes-action-view-helper-image_alt.html -->
      <%= image_pack_tag 'Shambhala_Sun.jpg', alt: "Shambhala Sun Logo" %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
        <p class="title is-4">Shambhala Meditations-Zentrum Bern</p>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <b>Belegungsplan:</b>
        <br><br>
        <small><em>
          Wir bitten, vor einem Besuch einen Platz zu
          <%= link_to("reservieren", new_participants_magic_link_path) %>
        </em></small>
      </p>
    </div>
  </div>
  <!-- card footer -->
  <!--
  <footer class="card-footer">
    <%# link_to 'Host Kalendar', home_path, class: "card-footer-item" %>
  </footer>
  -->
</div>
