<p hidden id='landing_index'>Landing Index</p>
<div class="card">

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="https://bern.shambhala.ch/wp-content/uploads/sites/73/2015/03/slide_297874_2458314_free-150x150.jpg" alt="Shambhala Zentrum Bern Logo">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-3">Shambhala Meditationszentrum Bern</p>
        <p class="subtitle is-4">
          Umdze Zeitplan
        </p>
      </div>
    </div>

    <div class="content">
      Wir sind eine Gemeinschaft von Praktizierenden, die hier zusammen meditieren und die 
      shambhala-buddhistischen Lehren studieren.
      <br>
      Herzstück dieser Lehren ist es, den spirituellen Pfad nicht vom alltäglichen Leben zu 
      trennen, sondern ihn mit den Herausforderungen von Arbeit, Beziehung, Kindern, Kultur, 
      Politik, Sport und Nichts-Tun ganz und gar zu verbinden und unseren Alltag zu bereichern. 
      Grundlage unseres Pfades ist die Meditation, wie sie Buddha gelehrt hat. Dies ist eine 
      einfache, aber sehr tiefgründige Methode, sich mit sich selbst und andern anzufreunden.
    </div>
  </div>

  <footer class="card-footer">
    <%= link_to 'Calendar', home_path, class: "card-footer-item" %>
    <%# link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
  </footer>
</div>
