<p hidden id='landing_index'>Landing Index</p>

<div class="columns">
  <div class="column"></div>
  <div class="column if-full-mobile is-half-tablet is-one-third-widescreen is-one-quarter-fullhd">
    <%= render 'intro_card' %>
  </div>
  <div class="column"></div>
</div>
