<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='manager-new-user' class='pageName'>Manager New User</p>

<h1 class="sub-title is-size-4">Create New User</h1>
<br>
<%= form_for( user, local: true,
              url: managers_users_path,   # NEW MUST BE PLURAL for POST
              id: "new-user-form", class: "user" ) do |form|  %>

  <%= render 'form_new', form: form, user: user %>
  <br>
  <%= render 'actions_new', form: form, user: user %>


<% end %>
