<p hidden id='new-participant-magic-link' class='pageName'>New Participant Magic Link</p>

<%= form_for(participant, local: true,
              url: participants_magic_links_path,   # NEW MUST BE PLURAL for POST
              id: "new-magic-link-form", class: "participant" ) do |form|  %>

  <div class="field">
    <label class="label">Email für Access-Link</label>
    <div class="control">
      <%= form.email_field :email,
                            placeholder: "Email",
                            class: 'input' %>
    </div>
    <p class="help"></p>
    <%= error_message_on(form.object, :email) %>
  </div>

  <div class="control">
    <%= form.submit("Get Access-Link", class: "button is-success") %>
  </div>

<% end %>
