.reservation .with-button {
  margin: 4px;
  padding: 5px;
  padding-bottom: 45px;
}

.reservation {
  margin: 4px;
  padding: 5px;
  padding-bottom: 15px;
}

// scrollable modal card body the -140px needs to be larger if you include a footer
// with footer try -220px
// https://stackoverflow.com/questions/10476632/how-to-scroll-the-page-when-a-modal-dialog-is-longer-than-the-screen
// https://stackoverflow.com/questions/25874001/how-to-put-scroll-bar-only-for-modal-body/56229656
.modal-card-body {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.has-notice {
  background: #f7e0ad;
}

.reservation.checkbox {
  width: 35px;
  height: 35px;
}

.select {
  padding-left: 10px;
  padding-right: 30px;
}

.field.is-horizontal {
  padding-bottom: 1.0rem;
}