<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='trustee-new-event' class='pageName'>Trustee New Event</p>

<h1 class="sub-title is-size-4">Create New Event</h1>
<br>
<%= form_for( event, local: true,
              url: trustees_events_path,   # NEW MUST BE PLURAL for POST
              id: "new-event-form", class: "event" ) do |form|  %>

  <%= render 'form', form: form, event: event %>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <%= form.submit("Save", class: "button is-success") %>
        </div>
        &nbsp;
        <div class="control">
          <%= link_to 'Back', trustees_events_path, class: 'button is-link is-light' %>
        </div>
      </div>
    </div>
  </div>

<% end %>
