<footer class="footer is-light">
  <div class="container has-text-centered">
    <p>
      Copyright © 2020<br><a href="https://bern.shambhala.ch">Shambhala Meditations-Zentrum Bern</a>
    </p>
  </div>
</footer>
