<footer class="footer is-light">
  <div class="container has-text-centered">
    <p>
      Copyright © 2020 <a href="https://bern.shambhala.ch">Shambhala Meditationszentrum Bern</a>
    </p>
  </div>
</footer>
